.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
  border-radius: 9px;
  border: 2px solid;
  text-align: center;
  min-width: 97px;
}

.button:hover {
  background-color: #3e8e41;
}

.selected {
  background-color: #4CAF50;
}

.container {
  display: inline-block;
}